# Future-Proofing the Workforce: A 2030 Talent & Risk Analysis

## TL;DR
- Data is already cleaned.
- Checked for
  - Null/Missing Values
  - Duplicated Values
  - Type Inconsistency
- Inspection
  - dataset Contain 3000 rows and 13 columns
  - Its synthetic dataset and therefore not properly categorized(Legal secretary is added in Healthcare industry)
  -

## Setup And Initial Inspection

In [64]:
#Importing Python Libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [65]:
#Loading dataset
try:
    df =  pd.read_csv('ai_job_trends_dataset.csv')
    print("Dataset Loaded Succesfully..")
except:
    print("Failed Loading dataset")

Dataset Loaded Succesfully..

In [12]:
df.shape

(30000, 13)

In [26]:
# Checking Unique Value
df.nunique()

Job Title                        639
Industry                           8
Job Status                         2
AI Impact Level                    3
Median Salary (USD)            29968
Required Education                 5
Experience Required (Years)       21
Job Openings (2024)             9439
Projected Openings (2030)       9410
Remote Work Ratio (%)           9466
Automation Risk (%)             9519
Location                           8
Gender Diversity (%)            5965
dtype: int64

In [66]:
df.head(5)

,Job Title,Industry,Job Status,AI Impact Level,Median Salary (USD),Required Education,Experience Required (Years),Job Openings (2024),Projected Openings (2030),Remote Work Ratio (%),Automation Risk (%),Location,Gender Diversity (%)
0,Investment analyst,IT,Increasing,Moderate,42109.76,Master’s Degree,5,1515,6342,55.96,28.28,UK,44.63
1,"Journalist, newspaper",Manufacturing,Increasing,Moderate,132298.57,Master’s Degree,15,1243,6205,16.81,89.71,USA,66.39
2,Financial planner,Finance,Increasing,Low,143279.19,Bachelor’s Degree,4,3338,1154,91.82,72.97,Canada,41.13
3,Legal secretary,Healthcare,Increasing,High,97576.13,Associate Degree,15,7173,4060,1.89,99.94,Australia,65.76
4,Aeronautical engineer,IT,Increasing,Low,60956.63,Master’s Degree,13,5944,7396,53.76,37.65,Germany,72.57

In [4]:
df.tail(5)

,Job Title,Industry,Job Status,AI Impact Level,Median Salary (USD),Required Education,Experience Required (Years),Job Openings (2024),Projected Openings (2030),Remote Work Ratio (%),Automation Risk (%),Location,Gender Diversity (%)
29995,"Psychotherapist, dance movement",Education,Increasing,Moderate,142238.00,PhD,16,7816,1363,56.91,27.27,China,65.90
29996,"Scientist, water quality",IT,Decreasing,Moderate,123107.50,Associate Degree,19,9358,7632,27.25,12.84,UK,31.18
29997,Web designer,Manufacturing,Decreasing,Moderate,97305.51,Master’s Degree,0,9605,2559,31.76,16.82,China,26.07
29998,Primary school teacher,Entertainment,Increasing,Moderate,95599.22,High School,15,5481,4879,32.46,45.93,Brazil,40.43
29999,Company secretary,Education,Increasing,Low,65679.61,High School,15,4435,5902,34.54,78.93,Germany,21.75

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Job Title                    30000 non-null  object
 1   Industry                     30000 non-null  object
 2   Job Status                   30000 non-null  object
 3   AI Impact Level              30000 non-null  object
 4   Median Salary (USD)          30000 non-null  float64
 5   Required Education           30000 non-null  object
 6   Experience Required (Years)  30000 non-null  int64
 7   Job Openings (2024)          30000 non-null  int64
 8   Projected Openings (2030)    30000 non-null  int64
 9   Remote Work Ratio (%)        30000 non-null  float64
 10  Automation Risk (%)          30000 non-null  float64
 11  Location                     30000 non-null  object
 12  Gender Diversity (%)         30000 non-null  float64
dtypes: float64(4), int64(3), object(6)
memory usage: 3.0+ MB

In [62]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Median Salary (USD),30000.0,90119.965639,34412.013953,30001.86,60500.7025,90274.115,119454.71,149998.50
Experience Required (Years),30000.0,10.051433,6.060678,0.00,5.0000,10.000,15.00,20.00
Job Openings (2024),30000.0,5039.640833,2861.009654,100.00,2570.0000,5034.000,7527.00,10000.00
Projected Openings (2030),30000.0,5074.218100,2866.550722,100.00,2586.7500,5106.500,7573.00,10000.00
Remote Work Ratio (%),30000.0,49.836431,28.966688,0.00,24.5700,49.570,75.10,100.00
Automation Risk (%),30000.0,50.154229,28.754889,0.00,25.4000,50.020,75.03,99.99
Gender Diversity (%),30000.0,49.979660,17.274665,20.00,35.0700,49.885,64.91,80.00
job_growth_net,30000.0,34.577267,4055.130050,-9842.00,-2899.0000,17.000,2958.25,9818.00

In [63]:
df.select_dtypes(include='object').describe().T

                    count unique                  top   freq
Job Title           30000    639  Surveyor, insurance     75
Industry            30000      8        Entertainment   3895
Job Status          30000      2           Increasing  15136
AI Impact Level     30000      3             Moderate  10042
Required Education  30000      5    Bachelor’s Degree   6146
Location            30000      8            Australia   3802

## Cleaning Dataset

In [46]:
# Checking for Null/empty values
df.isna().sum()

Job Title                      0
Industry                       0
Job Status                     0
AI Impact Level                0
Median Salary (USD)            0
Required Education             0
Experience Required (Years)    0
Job Openings (2024)            0
Projected Openings (2030)      0
Remote Work Ratio (%)          0
Automation Risk (%)            0
Location                       0
Gender Diversity (%)           0
dtype: int64

In [25]:
# Chceking for duplicate values
df.duplicated().sum()

np.int64(0)

**There is no missing and duplicate values in dataset so will stop here**